<hr class="b">

<footer class="footer grid">
    <ul class="inline left">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Privacy &amp; Terms</a></li>
    </ul>
    <ul class="inline right">
        <li><a href="https://github.com/netflam">(c) 2014 netflam</a></li>
    </ul>
</footer>