<footer class="footer grid">
    <hr>
    <ul class="inline left">
        <li><a href="/about">About</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/terms#privacy-policy">Privacy</a></li>
    </ul>
    <ul class="inline right">
        <li><a href="https://github.com/netflam">(c) 2014 netflam</a></li>
    </ul>
</footer>