<!DOCTYPE html>
<html lang="en">
<!--
    When I wrote this, only God and I understood what I was doing.
    Now, God only knows...
    (c) 2014 netflam
-->
<head>
    <!-- Basic -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="robots" content="index, follow, archive" />
    <meta name="referrer" content="always" />

    <meta name="description" property="description"
          content="A community where people can discuss and share interesting links, questions and timely events." />
    <meta name="author" content="Maciej A. Czyzewski" />

    <title>netflam, your hackerspace</title>

    <!-- Shortcuts -->
    <link rel="shortcut icon" href="/assets/images/shortcuts/16.png" />

    <!-- Fonts -->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Source+Code+Pro" />

    <!-- Stylesheets -->
    <link media="all" rel="stylesheet" type="text/css"
          href="/assets/stylesheets/main.css" />

    <!-- Javascripts -->
    <script type="text/javascript" src="/assets/javascripts/main.js"></script>
</head>
<body>
    <%= content %>
</body>
</html>