<%= partial 'partials/masthead' %>

<div class="grid">
    not ready, sorry! (read README.md)
    <a class="right" href="https://github.com/netflam/netflam">https://github.com/netflam/netflam</a>
</div>

<%= partial 'partials/footer' %>
