<% if session[:auth] %>
    <%= partial 'partials/masthead' %>

    <h2 class="ta">Popular</h2>
<% else %>
    <div class="welcome grid animated fadeInDown">
        <div class="col-8">
            <img src="/assets/images/shortcuts/16.png" alt="netflam" />
            <h1>netflam, your hackerspace</h1>
            <p>A community where people can discuss and share interesting links, questions and timely events.</p>
            <a href="/a/join" class="button giant green">Join</a>
            <a href="/a/login" class="button giant">Login</a>
        </div>
    </div>

    <hr class="b">

    <div class="masthead inline grid">
        <div class="center">
            <ul class="inline">
                <li><a href="/">Popular</a></li>
                <li><a href="/recent">Recent</a></li>
                <li><a href="/comments">Comments</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </div>
    </div>

    <hr class="t">
<% end %>

<div class="grid">
    <%= partial 'partials/stories' %>
</div>

<%= partial 'partials/footer' %>